:root {
	--primary-brand: #4D5AE5;
	--pressed-state: #404BBF;
	--dark: #2E2F42;
	--succes: #31D0AA;
	--text: #434455;
	--subtle-text: #8E8F99;
	--accent: #E7E9FC;
	--light: #F4F4FD;
	--main-background-color: #FFFFFF;


	--main-font: "Roboto", sans-serif;
	--secondary-font: Raleway, sans-serif;
}

body {
	font-family: var(--main-font)
	background-color: var(--main-backgroung-color);
	color: var(--text);

}
p {
	font-size: 16px;
	letter-spacing: 0.02em;
	line-height: 1.5;
}

.list {
	list-style-type: none;
}

.link {
	text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
}

.logo {

}

.header-logo {
	font-family: var(--secondary-font);
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	color: var(--primary-brand);
}

.header-logo .logo {
	color: var(--dark);
}

.header-navigation {
}
.header-logo {
}
.navigation-list {

}
.navigation-item {
}
.header-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: var(--dark);
}

.navigation-list .link:hover,
.navigation-list .link:focus,
.navigation-list .link:active {
	color: var(--pressed-state);
}

.contacts-list {
	font-size: 16px;
	line-height: 1.5;
}
.contacts-item {
}
.contacts-link {
	color: inherit;
}
.contacts-link:hover,
.contacts-link:focus {
	color: var(--pressed-state);
}
.hero {
	background-color: var(--dark);
}
.hero-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	color: #ffffff;
}
.hero-btn {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;

	/* display: flex;
align-items: center; */

	color: #ffffff;
	letter-spacing: 0.04em;

	cursor: pointer;

	background-color: var(--primary-brand);
	border: 0;
}

.hero-btn:focus,
.hero-btn:hover,
.hero-btn:active {
	background-color:var(--pressed-state);
}

.features {
}
.features-list {
}
.features-item {
	font-size: 16px;
	line-height: 1.5;
}
.features-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--dark);
}
.works {
}
.works-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	color: var(--dark);
	text-transform: capitalize;
}
.works-list {
}
.works-item {
}
.team {
	background-color: var(--light);
}
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	color: var(--dark);
	text-transform: capitalize;
}
.team-list {
	font-size: 16px;
	line-height: 1.5;
	/* text-align: center; */
}
.team-item {
}
.team-mate {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	/* text-align: center; */
	color: var(--dark);
}
.footer {
	background-color: var(--dark);

	font-size: 16px;
	line-height: 1.5;
	color: var(--accent);
}
.footer-logo {
	font-family: var(--secondary-font);
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	color: var(--primary-brand);
}
.footer-logo .logo {
	color: var(--light);
}
.footer-logo {
}
 .footer .text {
	color: var(--accent);

 }
.filter-btn {
	font-family: var(--main-font);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	color: var(--primary-brand);
	background-color: var(--light);
	border: 0;

	cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
	color: #ffffff;
	background-color: var(--pressed-state);
}

.portfolio-list .title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--dark);
}

.portfolio-list .text {
	font-size: 16px;
	line-height: 1.5px;
	color: var(--text);
}

/* .portfolio-link {
    color: inherit;
} */
